* {
  margin: 0;
  padding: 0; }

@extend:.before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000; }
body {
  font-family: "GothamRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.main_head {
  position: relative;
  min-height: 600px;
  padding-top: 25px; }

.logo_container {
  width: auto;
  height: auto;
  float: left; }
  .logo_container img {
    position: relative;
    width: 76px;
    height: 76px;
    z-index: 15; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: 2px solid #91d25d;
  right: 20px;
  top: 25px;
  background-color: transparent;
  outline: none; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: #91d25d;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: #91d25d;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: #91d25d;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center;
    -webkit-animation-duration: 0.01s;
    -moz-animation-duration: 0.01s;
    animation-duration: 0.01s; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-delay: 0;
      -o-animation-delay: 0;
      -moz-animation-delay: 0;
      animation-delay: 0; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-delay: 0.1s;
      -o-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .top_mnu ul li:nth-child(4) a {
      -webkit-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .top_mnu ul li:nth-child(5) a {
      -webkit-animation-delay: 0.4s;
      -o-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .top_mnu ul li:nth-child(6) a {
      -webkit-animation-delay: 0.5s;
      -o-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      font-family: "GothamLight";
      opacity: 0;
      position: relative;
      height: 60px;
      outline: none;
      letter-spacing: 2px; }
    .top_mnu ul a:hover {
      color: #91d25d; }
      .top_mnu ul a:hover span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .top_mnu ul a:hover span:hover {
          background-color: rgba(255, 255, 255, 0.08); }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../images/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.mnu_footer {
  width: 100%;
  min-height: 150px;
  background-color: #666;
  padding: 30px 0 0 0; }

.wrap_logo {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 0 35px 0; }
  .wrap_logo:after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #b2b2b2; }
  .wrap_logo img {
    width: 76px;
    height: 76px; }

.wrap_description_footer {
  text-align: center; }
  .wrap_description_footer h6 {
    color: #b2b2b2;
    font-size: 0.8125em;
    padding: 25px 0 25px 0;
    font-family: "GothamRegular"; }

section {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 50px 0 50px 0;
  background-color: #fff; }

#_about {
  padding: 50px 0 70px 0; }

.title_section {
  width: 100%;
  height: auto;
  text-align: center; }
  .title_section h1 {
    font-size: 2.1875em;
    padding-bottom: 15px;
    font-family: "GothamLight";
    font-weight: 600;
    color: #4c594f;
    margin: 0; }
    .title_section h1::after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px;
      position: absolute;
      width: 150px;
      background-color: #000; }

.content_us {
  font-family: "GothamRegular";
  letter-spacing: 0;
  text-align: center;
  color: #4c594f; }
  .content_us h2 {
    font-family: "Distractor";
    letter-spacing: 0.5px;
    padding: 15px 0 50px;
    margin: 0;
    display: inline-block;
    font-size: 3.125em;
    font-weight: 600;
    text-transform: uppercase;
    color: #6e6f6e; }
    .content_us h2 span {
      color: #5cca00;
      font-family: "Distractor"; }
  .content_us > span {
    font-weight: 600;
    font-size: 1.75em; }
  .content_us p {
    color: #4c594f;
    padding-top: 25px;
    margin: 0;
    font-size: 1.5625em;
    letter-spacing: 0; }

#_features {
  background-color: #52a028;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0 70px 0; }
  #_features h1 {
    color: #fff;
    font-family: "GothamLight";
    font-weight: 600;
    font-size: 2.1875em;
    padding-bottom: 15px;
    margin: 0; }
    #_features h1:after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -150px;
      margin-top: 60px;
      position: absolute;
      width: 300px;
      background-color: #fff; }

#_features {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 50px 0 50px 0; }
  #_features h3 {
    font-size: 1.4375em;
    padding: 30px 0 28px 0;
    color: #b0e44f; }
  #_features p {
    font-size: 1.0625em;
    font-family: "GothamLight";
    font-weight: 500; }
  #_features i:before {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 6.25em;
    font-weight: 400; }

.resize {
  padding: 0 10% 0 10%; }

#_technology {
  width: 100%;
  height: auto; }
  #_technology h1 {
    text-align: center;
    font-size: 2.1875em;
    font-family: "GothamLight";
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0; }
    #_technology h1::after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -100px;
      margin-top: 60px;
      position: absolute;
      width: 200px;
      background-color: #000; }

.container_tech {
  min-height: 400px;
  max-width: 290px;
  margin: 0 auto;
  border: 6px solid #91d25d;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .container_tech .tech_wrapp {
    min-height: 160px;
    position: relative;
    background-size: 100%;
    background-position: top center;
    text-align: center;
    background-repeat: no-repeat;
    padding-bottom: 35px; }
    .container_tech .tech_wrapp img {
      position: absolute;
      bottom: 50%;
      transform: translateY(125%);
      left: 35%; }
  .container_tech .tech_html {
    background-image: url("../images/html_bg.png"); }
  .container_tech .tech_js {
    background-image: url("../images/js_bg.png"); }
  .container_tech .tech_preroc {
    background-image: url("../images/preproc_bg.png"); }
  .container_tech .tech_bottom {
    padding: 40px; }
    .container_tech .tech_bottom h3 {
      color: #4c594f;
      font-size: 1.5625em; }
    .container_tech .tech_bottom p {
      margin-top: 20px;
      font-family: "GothamLight";
      font-weight: 600;
      color: #4c594f;
      font-size: 1.0625em; }

#portfolio {
  width: 100%;
  height: auto;
  letter-spacing: 0;
  background-color: #eaeaea;
  text-align: center;
  padding-bottom: 100px; }
  #portfolio h1 {
    text-align: center;
    font-size: 2.1875em;
    font-family: "GothamLight";
    font-weight: 600;
    padding-bottom: 55px;
    color: #666666;
    margin: 0; }
    #portfolio h1::after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -100px;
      margin-top: 60px;
      position: absolute;
      width: 200px;
      background-color: #000; }
  #portfolio #portfolio_grid {
    overflow: hidden; }

.portfolio_item {
  padding: 0;
  margin: 0; }
  .portfolio_item img {
    width: 100%;
    vertical-align: middle; }
  .portfolio_item:hover .port_item {
    opacity: 1;
    padding-top: 20%; }

.port_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 15%;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  .port_item > h3 {
    display: inline-block;
    border-bottom: 2px solid #4c594f;
    color: #91d25d;
    margin-bottom: 0;
    font-size: 2.0625em;
    padding: 20px 0 0 0;
    font-family: "GothamLight"; }
  .port_item a {
    border: #91d25d 1px solid;
    padding: 0 10px;
    background-color: transparent;
    color: #91d25d;
    font-size: 0.875em;
    font-family: "GothamLight";
    text-transform: uppercase;
    line-height: 35px;
    display: inline-block; }
  .port_item p {
    color: #888;
    font-size: 1.375em;
    padding: 20px 0; }

.port_descr {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto; }
  .port_descr p,
  .port_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .port_descr h3 {
    font-family: "GothamRegular";
    color: #b0e44f;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px; }
  .port_descr p {
    margin-top: 0;
    color: #b2b2b2; }
  .port_descr img {
    width: 100%;
    margin-top: 20px; }

.mfp-close-btn-in .mfp-close {
  color: #91d25d; }

.modal-box-content {
  position: relative;
  background-color: #666; }

#how_work {
  width: 100%;
  letter-spacing: 0;
  background-color: #4d4a4a;
  min-height: 400px; }
  #how_work .work_process_element {
    float: left;
    padding: 0 40px 0 40px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px; }
    #how_work .work_process_element h3 {
      font-size: 1.375em;
      font-family: "GothamLight";
      font-weight: 600; }

.nav-tabs > a > h3 {
  color: #fff;
  text-align: center; }
.nav-tabs > a:hover {
  color: #fff; }

.nav-tabs > li.active > a {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom-color: transparent;
  cursor: pointer;
  opacity: 0.6; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    cursor: pointer; }

.nav-tabs > li > a:hover {
  border-color: transparent; }

.nav-tabs > li {
  opacity: 1; }

.nav > li > a {
  border: none; }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs a {
    text-align: center; }

a,
a:hover, a:focus {
  text-decoration: none;
  color: #fff; }

.active > .fa-angle-down {
  display: inline-block; }

.fa-angle-down {
  display: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5em;
  color: #fff; }

.tab-content {
  width: 100%;
  height: auto; }
  .tab-content p {
    font-size: 1.4375em;
    font-family: "GothamLight";
    font-weight: 500;
    color: #b2b2bb; }

.img_right {
  display: inline-block;
  float: left;
  width: 30px;
  height: 130px;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center; }
  .img_right .fa-angle-right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #7b7979;
    font-size: 2.5em; }

.content_table {
  width: 100%;
  height: auto;
  letter-spacing: 0;
  padding-top: 25px; }
  .content_table p {
    font-size: 1.25em;
    font-family: "GothamLight";
    font-weight: 600;
    color: #b2b2bb; }

.size_media1 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.size_media2 {
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.size_media3 {
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.size_media4 {
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.size_media5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.size_media6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }

#contacts {
  background-color: #FAFAFA;
  padding: 50px 0 50px 0; }
  #contacts .section_header {
    text-align: center;
    padding-bottom: 80px; }
    #contacts .section_header .s_descr_wrap {
      font-size: 1.125em;
      font-family: "GothamLight";
      font-weight: 400; }
      #contacts .section_header .s_descr_wrap .s_descr::after {
        content: "";
        height: 1px;
        left: 50%;
        margin-left: -75px;
        margin-top: 60px;
        position: absolute;
        width: 150px;
        background-color: #000; }
    #contacts .section_header h2 {
      font-size: 2.1875em;
      padding-bottom: 15px;
      font-family: "GothamLight";
      font-weight: 600; }

.form-group {
  display: block;
  margin-bottom: 25px; }
  .form-group .color_element {
    font-weight: 700;
    font-size: 18px; }
  .form-group .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block; }
    .form-group .text-danger ul,
    .form-group .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .form-group textarea {
    min-height: 150px; }

.main_form button {
  padding: 8px 25px;
  border-radius: 0px;
  background-color: #8ad159;
  border: 1px solid #8ad159;
  color: #fff;
  margin-top: 20px;
  float: right; }

.error {
  margin-top: 10px; }

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  text-indent: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.0625em;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "GothamLight";
  background-color: #eeeeee;
  -webkit-input-placeholder: #8ad159;
  -moz-placeholder: #8ad159;
  -moz-placeholder: #8ad159;
  -ms-input-placeholder: #8ad159; }

.contact_box {
  margin-bottom: 20px; }
  .contact_box .contacts_icon {
    font-size: 4.0625em;
    display: inline-block;
    vertical-align: middle; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px; }
  .contact_box p {
    color: #888;
    display: inline-block;
    vertical-align: middle; }
    .contact_box p a {
      color: green;
      font-family: "GothamLight";
      display: inline-block;
      vertical-align: middle; }

.contacts_icon {
  color: #8ad159; }

.cont_descr_about_right {
  text-align: left; }

.cont_descr_about_left {
  text-align: right; }

.descr_about {
  padding: 50px 0 50px 0; }

.gifcont {
  width: 80%;
  height: auto; }

.gifradius {
  border-radius: 5%; }
