/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.size_media{
		width: 100%;
		display: block;
	}
	.fa-angle-down{
		display: inline-block;
	}
	.gifcont{
		width: 100%;
		height: auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.size_media1 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media2 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media3 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media4 {
-webkit-animation-delay:0.3s;
-o-animation-delay:0.3s;
-moz-animation-delay:0.3s;
animation-delay:0.3s; }

.size_media5 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media6 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }
.gifcont{
	width: 75%;
	height: auto;
}
.cont_descr_about_left{
	text-align: left;
}	
.content_us p {
    font-size: 1.4375em;
    letter-spacing: 0; }
}	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.size_media1 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }
.gifcont{
	width: 85%;
	height: auto;
}
.size_media2 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media3 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media4 {
-webkit-animation-delay:0.3s;
-o-animation-delay:0.3s;
-moz-animation-delay:0.3s;
animation-delay:0.3s; }

.size_media5 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }

.size_media6 {
-webkit-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s; }
.content_us p {
  font-size: 1.2375em;
  letter-spacing: 0; 
}
.content_table p{
	font-size: 1.1875em;
}
#how_work h1{
	font-size: 1.875em;
}
#contacts .section_header h2{
	font-size: 1.875em;
}
#portfolio h1{
	font-size: 1.875em;
}
#_features h1{
	font-size: 1.875em;
}
.section_header h1{
	font-size: 1.875em;
}
.port_item{
	opacity: 1;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.contact_box .contacts_icon {
	display: block;
}
.contact_box h3{
	display: block;
	padding-left: 0;
}
.contact_box p{
	display: block;
	padding-top: 5px;
}
.contact_box p a{
	display: block;
}
.gifcont{
	width: 100%;
	height: auto;
}
.content_us p {
  font-size: 1.0625em;
  letter-spacing: 0; }
.content_table p{
	font-size: 1.125em ;
}
#how_work h1{
	font-size: 1.75em;
}
#contacts .section_header h2{
	font-size: 1.75em;
}
.media_top{
	padding-bottom: 20px;
}
#portfolio h1{
	font-size: 1.75em;
}
#_features h1{
	font-size: 1.75em;
}
.section_header h1{
	font-size: 1.75em;
}
.content_us h2{
	font-size: 2.575em;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
		.nav-tabs > li {
			outline:none;
	}
}
@media only screen and (min-width : 1600px) {
	.flex_window{
		max-width: 1170px;
	}

	
	
}
